.navigation {
  background-color: rgb(236, 188, 98);
  position: fixed;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  /* display: none; */
}

.avatar {
  border-radius: 50%;
  width: 50%;
}

.nav-item {
  font-family: "Yeon Sung", cursive;
  font-size: 2.5vw;
  color: antiquewhite;
  padding-top: 20px;
  text-decoration: none;
  /*a태크 밑줄 삭제*/
}

.nav-item:hover {
  color: rgb(226, 98, 47);
  cursor: pointer;
}

@media (max-width: 750) {
  .nav-item {
    font-size: 20px;
  }
}

.main {
  /* display: grid; */
  /* grid-template-columns: minmax(150px, 20vw) auto; */
  margin-left: 20vw;
}

.contents {
  /* grid-column-start: 2; */
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* align-content: center;*/
  /* justify-items: center;  */
  background-color: rgba(220, 220, 220, 0.5);
  width: 100%;
  min-width: 500px;
  height: 150px;
}

.top-nav-item {
  /* flex: 1;
  display: flex;
  justify-content: center;
  align-self: center; */
  background-color: #fff;
  font-size: 20px;
  color: rgb(66, 141, 255);
  margin: 10%;
  border: 3px;
  border-width: 3px;
  ;
}

.top-nav-item:hover {
  color: black;
  cursor: pointer;
}

.project-contents {}

.iframe-style {
  display: flex;
  flex: 1;
  margin-top: 10px;
  width: 100%;
  min-width: 500px;
  height: 100vh;
}

/* ------------------------------------------------------------------- */

/* Style The Dropdown Button */

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}